<head>
  <title>PIntron | Manage Servers</title>

  <%# JS & CSS #%>
  <%= erb :'/includes/header' %>
  <script type="text/javascript" src="/js/admin_servers.js"></script>
</head>
<body>

  <%# HEADER #%>
  <%= erb :'/includes/navbar' %>


  <%# PAGE CODE HERE #%>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Server management</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <button class="btn btn-primary" data-toggle="modal" data-target="#newServer">
          Add new server
          </button>
          <a href="/admin" class="btn btn-primary pull-right" role="button">Back to admin panel</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr />
        <% if params[:ok] == '1' %>
          <div class="alert alert-success">
            <p><strong><i class="fa fa-save"></i> Success!</strong>
          </div>
        <% end %>

        <% if params[:err] == '1' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Error</strong>
          </div>
        <% end %>

        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <th>name</th>
            <th>host</th>
            <th>port</th>
            <th>enabled</th>
            <th>action</th>
          </thead>
          <% server_list.each do |server| %>
          <tr>
            <td><%= server.name %></td>
            <td><%= server.host %></td>
            <td><%= server.ssh_port %></td>
            <td>
              <% if server.enabled %>
                <i class="fa fa-check"></i>
              <% else %>
                <i class="fa fa-remove"></i>
              <% end %>
            </td>
            <td>
              <% if server.enabled %>
                <form action="/admin/servers/disable" method="post" class="btn-group">
                  <button type="submit" class="btn btn-primary" title="disable" value="">
                    <i class="fa fa-lock"></i>
                  </button>
                  <input type="hidden" name="server_id" value="<%= server.id %>" class="btn">
                </form>
              <% else %>
                <form action="/admin/servers/enable" method="post" class="btn-group">
                  <button type="submit" class="btn btn-primary" title="enable" value="">
                    <i class="fa fa-unlock"></i>
                  </button>
                  <input type="hidden" name="server_id" value="<%= server.id %>" class="btn">
                </form>
              <% end %>
              <div class="btn-group inline">
                <input type="hidden" class="btn">
                <a href="/admin/servers/edit/<%= server.id %>" class="btn btn-primary" title="edit">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
                <input type="hidden" class="btn">
              </div>
              <form action="/admin/servers/delete" method="post" class="btn-group inline">
                <input type="hidden" name="server_id" value="<%= server.id %>" class="btn">
                <button 
                  id="delete_server"
                  type="submit" class="btn btn-primary" title="delete">
                  <i class="fa fa-trash-o"></i>
                </button>
              </form>  
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>


  <%# FOOTER #%>
  <%= erb :'/includes/footer' %>
</body>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="newServer" tabindex="-1" role="dialog" aria-labelledby="newServerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="newServerLabel">Add new server</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal" method="post" action="/admin/servers/new">
          <div class="form-group">
            <label for="InputName" class="col-md-4 control-label" >Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="InputName" placeholder="Enter name" name="InputName" required pattern="[A-Za-z0-9._\-\@]{3,50}">
            </div>
          </div>

          

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
