<head>
  <title>PIntron | User Detail</title>

  <%# JS & CSS #%>
  <%= erb :'/includes/header' %>
</head>
<body>

  <%# HEADER #%>
  <%= erb :'/includes/navbar' %>


  <%# PAGE CODE HERE #%>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>User details <small><%= user.nickname %></small></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <a href="/admin/users" class="btn btn-primary pull-right" role="button">Go to user list</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr />
        <% if params[:err] == '1' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Wrong Nickname.</strong>
          </div>
        <% end %>

        <% if params[:err] == '2' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Wrong Password.</strong>
          </div>
        <% end %>

        <% if params[:err] == '3' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Wrong Email.</strong>
          </div>
        <% end %>

        <% if params[:err] == '4' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Something wrong and you know it.</strong>
          </div>
        <% end %>

      </div>
    </div>
    <div class="row">
      <%# detail block %>
      <div class="col-md-6">
        <form role="form" class="form-horizontal" method="post" action="/admin/users/edit">
          <input type="hidden" name="user_id" value="<%= user.id %>">
          <div class="form-group">
            <label for="InputUser" class="col-md-4 control-label" >Nickname</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="InputUser" value="<%= user.nickname %>" name="InputUser" required pattern="[A-Za-z0-9._\-\@]{3,50}">
            </div>
          </div>

          <div class="form-group">
            <label for="InputEmail" class="col-md-4 control-label" >Email</label>
            <div class="col-md-8">
              <input type="email" class="form-control" id="InputEmail" value="<%= user.email %>" name="InputEmail" required>
            </div>
          </div>

          <div class="form-group">
            <label for="InputAdmin" class="col-md-4 control-label" >Admin</label>
            <div class="col-md-1">
              <input type="checkbox"  id="InputAdmin" name="InputAdmin" <% if user.admin %> checked <% end %> class="flag">
            </div>
          </div>

          <div class="form-group">
            <label for="InputMaxFS" class="col-md-4 control-label" >Max File Size</label>
            <div class="col-md-3">
              <input type="number" class="form-control" id="InputMaxFS" min="0" value="<%= user.max_fs %>" name="InputMaxFS" required >
            </div>
          </div>

          <div class="form-group">
            <label for="InputMaxCPUT" class="col-md-4 control-label" >Max CPU Time</label>
            <div class="col-md-3">
              <input type="number" class="form-control" id="InputMaxCPUT" min="0" value="<%= user.max_cput %>" name="InputMaxCPUT" required >
            </div>
          </div>

          <div class="form-group">
            <label for="InputMaxQL" class="col-md-4 control-label" >Max Queue Length</label>
            <div class="col-md-3">
              <input type="number" class="form-control" id="InputMaxQL" min="0" value="<%= user.max_ql %>" name="InputMaxQL" required >
            </div>
          </div>


          <button type="submit" class="btn btn-primary pull-right">Save</button>
        </form>
        <br /><br />

        <div class="row">
          <hr />
          <form role="form" class="form-horizontal" method="post" action="/admin/users/edit-password">
          <input type="hidden" name="user_id" value="<%= user.id %>">
          <fieldset>

          <!-- Form Name -->
          <legend>Modify password</legend>

          <!-- Old Password input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Insert old password</label>
            <div class="col-md-4">
              <input id="InputOldPassword" name="InputOldPassword" type="password" placeholder="placeholder" class="form-control input-md">
              <!-- <span class="help-block">help</span> -->
            </div>
          </div>

          <!-- New Password input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Insert new password</label>
            <div class="col-md-4">
              <input id="InputNewPassword" name="InputNewPassword" type="password" placeholder="placeholder" class="form-control input-md">
              <!-- <span class="help-block">help</span> -->
            </div>
          </div>

        <button id="" name="" class="btn btn-primary pull-right">Modify</button>


          </fieldset>
          </form>

        </div>

      </div>

      <%# jobs block %>
      <div class="col-md-6">

        <table class="table">
          <thead>
            <th>Author</th>
            <th>Date</th>
            <th>Message</th>
          </thead>
          <% user.user_changes_to_self.limit(3).each do |change| %>
            <tr>
              <td><a href="/admin/users/edit/<%= change.admin.id %>"><%= change.admin.nickname %></a></td>
              <td><%= change.created_at.strftime("%d/%m/%Y %H:%m") %></td>
              <td><% if change.message.length > 35 %>
                    <i><%= change.message[0..32] + "..."%></i>
                  <% else %>
                    <%= change.message %>
                  <% end %>
              </td>
            </tr>
          <% end %>
          <% if user.user_changes_to_self.length > 3 %>
            <tr>
              <td colspan="3">
                <a class="btn btn-primary btn-block" href="/admin/users/history/<%= user.id %>">
                  View complete changelog
                </a>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>


  <%# FOOTER #%>
  <%= erb :'/includes/footer' %>
</body>
