<head>
  <title>PIntron | Jobs</title>

  <%# JS & CSS #%>
  <%= erb :'/includes/header' %>
  <script type="text/javascript" src="/js/jobs.js"></script>
  <script type="text/javascript" src="/js/bootstrap-slider.js"></script>
  <script type="text/javascript" src="/js/moment.js"></script>
  <link href="/css/slider.css"   rel="stylesheet" media="screen">
  <link href="/css/progress.css" rel="stylesheet" media="screen">
</head>
<body>

  <%# HEADER #%>
  <%= erb :'/includes/navbar' %>


  <%# PAGE CODE HERE #%>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1><i class="fa fa-cubes"></i> Jobs <small>
            <% if admin_view %>
              Admin view
            <% end %>
          </small></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newJob">
          New job
          </button>
          <% if session[:user] and session[:user].results and session[:user].results.any? %>
            <div class="btn-group btn-xs pull-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Last User results <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% session[:user].results.each do |result| %>
                  <li><a href="result/<%= result.id %>"><%=result.gene_name %></a></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr />
        <% if params[:ok] == '1' %>
          <div class="alert alert-success">
            <p><strong><i class="fa fa-save"></i> Everything is awesome!</strong>
          </div>
        <% end %>

        <% if params[:err] == '1' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Error! </strong> You have already reached your maximum amount of jobs queued!
          </div>
        <% end %>

        <% if params[:err] == '2' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong> You can't ask to fetch the genomic data from Ensembl if you don't supply both an organism and a gene name.
          </div>
        <% end %>

        <% if params[:err] == '3' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong> Error while trying to get the genomic data.
          </div>
        <% end %>

        <% if params[:err] == '4' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong>  Some fields faield to validate.
          </div>
        <% end %>

        <% if params[:err] == '5' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong> One of the read URLs supplied is malformed.
          </div>
        <% end %>

        <% if params[:err] == '6' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong>  Unable to save the required data: disk is full!
          </div>
        <% end %>

        <% if params[:err] == '7' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong> File size exceedes your user quota limit.
          </div>
        <% end %>

        <% if params[:err] == '8' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong> You must specify at least a FASTQ resource.
          </div>
        <% end %>

        <% if params[:err] == '9' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong> You supplied too many FASTQ resources.
          </div>
        <% end %>

        <% if params[:err] == '10' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong> The supplied server seems to be invalid.
          </div>
        <% end %>

        <% if params[:err] == '11' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i>  Error! </strong> An unhandled error happened. This should not happen :(
          </div>
        <% end %>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="jobsList">
          <br />

        </div>
      </div>
    </div>

</div>
  <%# FOOTER #%>
  <%= erb :'/includes/footer' %>
</body>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="newJob" tabindex="-1" role="dialog" aria-labelledby="newJobLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="newJobsLabel"><i class="fa fa-cube"></i> Create new job</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal" method="post" action="/jobs/new" enctype="multipart/form-data">

          <% if session[:user].admin %>
            <div class="form-group">
              <label for="InputServer" class="col-md-3 control-label" >Server
                <a data-toggle="tooltip" data-placement="right" data-html="true" title="Select the desired server you want the job dispatched to. Leave the default value for automatic assignment."><i class="fa fa-question-circle"></i></a>
              </label>
              <div class="col-md-6">
                <select class="form-control" id="InputServer"  name="InputServer">
                  <option value="">Automatic</option>
                  <% server_list.each do |server| %>
                    <option value="<%= server.id %>"><%= server.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <label for="InputOrganism" class="col-md-3 control-label">Organism
            </label>
            <div class="col-md-6">
              <select class="form-control" id="InputOrganism"  name="InputOrganism" required>
                <% organism_list.each do |organism| %>
                  <option value="<%= organism.id %>"><%= organism.name %></option>
                <% end %>
                <option value="-1">Unknown</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="InputGeneName" class="col-md-3 control-label">Gene Name
              <a data-toggle="tooltip" data-placement="right" data-html="true" title="If empty UNKNOWN is used"><i class="fa fa-question-circle"></i></a>
            </label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="InputGeneName" id="InputGeneName" placeholder="eg: caramel">
            </div>
          </div>

          <div class="form-group">
            <label for="InputTranscripts" class="col-md-3 control-label">Transcripts
            <a data-toggle="tooltip" data-placement="right" data-html="true" title="Enable to fetch the annotated transcripts relative to the gene you specified."><i class="fa fa-question-circle"></i></a></label>
            <div class="col-md-9 move-down-10px">
              <input type="checkbox" name="InputTranscripts" value="true" id="InputTranscripts">
              Download annotated transcripts from ENSEMBL
            </div>
          </div>

          <div class="form-group">
            <label for="InputGenomics" class="col-md-3 control-label" >Genomics
            <a data-toggle="tooltip" data-placement="right" data-html="true" title="A gene name with relative
            genomic data (FASTA) is required. You can either provide a gene name (the genomic data will
             be downloaded from Ensembl) or a FASTA file properly annotated via either URL link or direct upload."><i class="fa fa-question-circle"></i></a>
            </label>

            <div class="col-md-9">
              <label class="radio">
                <input type="radio" name="type" value="1" checked="true" id="downloadEnsembl"/>
                  Download from ENSEMBL
              </label>

              <label class="radio">
                <input type="radio" name="type" value="2" id="downloadFastaURL"/>
                  Download a FASTA file from a URL
              </label>

              <label class="radio">
                <input type="radio" name="type" value="3" />
                  Upload a FASTA file
              </label>
            </div>
          </div>

          <div class="form-group hide" id='rowInputGeneURL'>
            <label for="InputGeneURL" class="col-md-3 control-label" >FASTA URL</label>
            <div class="col-md-9">
              <input type="url" class="form-control" id="InputGeneURL"
               placeholder="eg: xlm://asd?" name="InputGeneURL" >
            </div>
          </div>

          <div class="form-group hide" id='rowInputGeneFile'>
            <label for="InputGeneFile" class="col-md-3 control-label">FASTA File</label>
            <div class="col-md-9">
              <input type="file" name="InputGeneFile" id="InputGeneFile"  />
            </div>
          </div>
          <!--
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <hr />
            </div>
          </div>
          -->

          <br />
          <div class="form-group">
            <label for="InputGenomics" class="col-md-3 control-label" >Sequences
          <!--  <a data-toggle="tooltip" data-placement="right" data-html="true" title=""><i class="fa fa-question-circle"></i></a> -->
            </label>

            <div class="col-md-9">
              <label class="radio">
                <input type="radio" name="sequence_type" value="1" checked="true" id="fastq_type"/>
                  FASTQ
              </label>

              <label class="radio">
                <input type="radio" name="sequence_type" value="2" id="est_type"/>
                  ESTs
              </label>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label" id="sequence_type_download"> Download a FASTQ file from a URL </label>
            <div class="col-md-7 input-url-first-row">
              <input type="text" class="form-control" name="InputURLs[]" required id="firstReadURL" />
            </div>
            <div class="col-md-2 input-url-first-row">
              <button type="button" class="btn btn-primary addButtonURL"><i class="fa fa-plus"></i></button>
            </div>
          </div>

          <!-- The option field template containing an option field and a Remove button -->
          <div class="form-group hide" id="InputURLTemplate">
            <div class="col-md-offset-3 col-md-7">
              <input class="form-control" type="text" name="InputURLs[]" />
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary removeButtonURL"><i class="fa fa-minus"></i></button>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label" id="sequence_type_upload">Upload a FASTQ file</label>
            <div class="col-md-7 input-file-first-row">
              <input type="file" name="InputFiles[]" id="firstReadFile" />
            </div>
            <div class="col-md-2 input-file-first-row">
              <button type="button" class="btn btn-primary addButtonFile"><i class="fa fa-plus"></i></button>
            </div>
          </div>

          <!-- The option field template containing an option field and a Remove button -->
          <div class="form-group hide" id="InputFileTemplate">
            <div class="col-md-offset-3 col-sm-7">
              <input type="file" name="InputFiles[]" />
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary removeButtonFile"><i class="fa fa-minus"></i></button>
            </div>
          </div>

          <div class="form-group" id="quality_ts">
            <label for="InputQuality" class="col-md-3 control-label" >Quality Threshold</label>
            <div class="col-md-7">
              <input type="text" value="33"
                data-slider-min="33" data-slider-max="126" data-slider-step="1" data-slider-value="33"
                id="InputQuality" name="InputQuality" >
            </div>
            <div class="col-md-2">
              <span class="quality-ts" id='QualityTs'><b>33</b></span>
            </div>
          </div>

          <div class="form-group">
            <label for="InputDescription" class="col-md-3 control-label" >Job Description</label>
            <div class="col-md-9">
              <textarea class="form-control" rows="2" id="InputDescription"  name="InputDescription" ></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Save" id="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
