<head>
  <title>PIntron | Results</title>

  <%# JS & CSS #%>
  <%= erb :'/includes/header' %>

</head>
<body>

  <%# HEADER #%>
  <%= erb :'/includes/navbar' %>


  <%# PAGE CODE HERE #%>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1><i class="fa fa-flag-checkered"></i> Results <small></small></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <% if session[:user] and session[:user].results and session[:user].results.any? %>
        <div class="col-md-3">
          <div class="panel panel-default panel-primary result">
            <div class="panel-heading">Last user results</div>
            <table class="table table-condensed table-result table-result-hover hidden-border">
              <tbody>
                <% session[:user].results.each do |result| %>
                  <tr>
                    <td><div class='divBox'>
                    <a href='/result/<%= result.id %>'>
                      <% if result.organism %> <%= result.organism.name %>
                      <% else %>                UNKNOWN
                      <% end %>
                      :
                      <% if result.gene_name %> <%= result.gene_name %>
                      <% else %> UNKNOWN
                      <% end %>
                    </a></div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-9">
      <% else %>
        <div class="col-md-12">
      <% end %>
        <% if params[:ok] == '1' %>
          <div class="alert alert-success">
            <p><strong><i class="fa fa-save"></i> Everything is awesome!</strong>
          </div>
        <% end %>

        <% if params[:err] == '1' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Error! </strong> You have already reached your maximum amount of jobs queued!
          </div>
        <% end %>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default panel-primary result">
                <div class="panel-heading">Search by genomics</div>
                <br />
                <form class="form-horizontal" role="form" method="get" action="/results">
                  <div class="form-group">
                    <label for="InputOrganism" class="col-sm-3 control-label">Organism name</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="InputOrganism"  name="InputOrganism" required>
                        <option value="-1">------</option>
                        <% organism_list.each do |organism| %>
                          <option value="<%= organism.id %>"
                            <% if params[:InputOrganism] == organism.id.to_s %>
                              selected
                            <% end %>
                          ><%= organism.name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="InputGeneName" class="col-sm-3 control-label">Gene name</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="InputGeneName" name="InputGeneName" placeholder="es: caramel banana" pattern="([\S]+)( [\S]+)*" title="Invalid input: insert genes separated by a space"
                      value="<%= params[:InputGeneName] %>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="InputRefSeq" class="col-sm-3 control-label">Ref Sequence</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="InputRefSeq" name="InputRefSeq" placeholder="es: NM_123 NM_456" pattern="(NM_[\S]+)( NM_[\S]+)*" title="Invalid input: insert ref seq separated by a space" value="<%= params[:InputRefSeq] %>">
                    </div>
                  </div>
                  <!--
                  <div class="form-group">
                    <label for="InputValidated" class="col-sm-3 control-label">Validated</label>
                    <div class="col-sm-6 move-down-10px">
                      <input type="checkbox" id="InputValidated" name="InputValidated" value='true'
                      <% if params[:InputValidated] %>
                        checked
                      <% end %>
                      >
                    </div>
                  </div>
                 -->
                 <br />
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                      <button type="submit" class="btn btn-default btn-primary pull-right">Search</button>
                      <!-- <a href="\results" class="btn btn-default btn-primary">Reset</a> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- BLOCCO RISULTATI -->
          <div class="row">
            <div class="col-md-12">
              <% if results and results.any? %>
                <table class="table table-result table-result-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Submission Date</th>
                      <th>Description</th>
                      <!-- <th class="centered">Validated</th> -->
                      <th class="centered">Ref Sequence</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% results.each do |r| %>
                    <tr>
                      <td>
                        <div class='divBox'><a href='/result/<%= r.id %>'>
                          <% if r.organism %>
                            <%= r.organism.name %>
                          <% else %>
                             UNKNOWN
                          <% end %>
                          :
                          <% if r.gene_name %>
                            <%= r.gene_name %>
                          <% else %>
                            UNKNOWN
                          <% end %>
                        </a></div>
                      </td>
                      <td>
                        <div class='divBox'><a href='/result/<%= r.id %>'>
                          <%= r.created_at.strftime("%d/%m/%Y %H:%M") %>
                        </a></div>
                      </td>
                      <td>
                        <div class='divBox'><a href='/result/<%= r.id %>'>
                          &nbsp;<%= r.description %>
                        </a></div>
                      </td>
                      <!--
                      <td class="centered">
                        <div class='divBox'><a href='/result/<%= r.id %>'>
                          <% if r.validated %>
                            <i class="fa fa-check"></i>
                          <% else %>
                            <i class="fa fa-remove"></i>
                          <% end %>
                          </a></div>
                      </td>
                      -->
                      <td class="centered">
                        <div class='divBox'><a href='/result/<%= r.id %>'>
                          <% if r.ref_sequence %>
                            <%= r.ref_sequence %>
                          <% else %>
                            UNKNOWN
                          <% end %>
                          </a></div>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
                <div class="centered">
                  <%= will_paginate results %>
                </div>
              <% end %>
            </div>
          </div>
          <!-- FINE BLOCCO RISULTATI -->
      </div>
    </div>

</div>



  <%# FOOTER #%>
  <%= erb :'/includes/footer' %>
</body>
