<% if flash[ :added_request_id ] %>
<div class="notice">New request added: <%= flash[ :added_request_id ] %></div>
<% end %>

<h1>Listing Requests</h1>

<table>
  <tr>
    <th>ID</th>
    <th>status</th>
    <th>hugo_name</th>
    <th>gtf_url</th>
    <th>gtf_path</th>
    <th>gtf_stored</th>
    <th>reads_url</th>
    <th>local_path</th>
    <th>reads_stored</th>
  </tr>

  <% @requests.each do |request| %>
  <% if flash[ :added_request_id ] == request.id %>
    <tr bgcolor="#CCAA99">
  <% else %>
    <tr>
  <% end %>
    <td><%= request.id %></td>
    <td><%= request.status %></td>
    <td><%= request.hugo_name %></td>
    <td><%= request.gtf.url %></td>
    <td><%= request.gtf.local_file %></td>
    <td><%= request.gtf.stored %></td>
    <td><%= request.reads.url %></td>
    <td><%= request.reads.local_file  %></td>
    <td><%= request.reads.stored %></td>
  </tr>
  <% end %>

</table>
