<head>
  <title>PIntron | Active Jobs</title>

  <%# JS & CSS #%>
  <%= erb :'/includes/header' %>
  <script type="text/javascript" src="/js/active.js"></script>
  <script type="text/javascript" src="/js/bootstrap-slider.js"></script>
  <link href="/css/slider.css"   rel="stylesheet" media="screen">
</head>
<body>

  <%# HEADER #%>
  <%= erb :'/includes/navbar' %>


  <%# PAGE CODE HERE #%>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Active Jobs <small></small></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <button class="btn btn-primary" data-toggle="modal" data-target="#newJob">
          New job
          </button>
          <a href="/home" class="btn btn-primary pull-right" role="button">Back to home</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr />
        <% if params[:ok] == '1' %>
          <div class="alert alert-success">
            <p><strong><i class="fa fa-save"></i> Everything is awesome!</strong>
          </div>
        <% end %>

        <% if params[:err] == '1' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Wrong Nickname.</strong>
          </div>
        <% end %>

        <% if params[:err] == '2' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Wrong Password.</strong>
          </div>
        <% end %>

        <% if params[:err] == '3' %>
          <div class="alert alert-danger">
            <p><strong><i class="fa fa-warning"></i> Wrong Email.</strong>
          </div>
        <% end %>

        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed" id="jobsList">
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%# FOOTER #%>
  <%= erb :'/includes/footer' %>
</body>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="newJob" tabindex="-1" role="dialog" aria-labelledby="newJobLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="newJobsLabel">Create new job</h4>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal" method="post" action="/jobs/new">
          
          <% if session[:user].admin %>
            <div class="form-group">
              <label for="InputServer" class="col-md-3 control-label" >Server</label>
              <div class="col-md-9">
                <select class="form-control" id="InputServer"  name="InputServer">
                  <option>Automatic</option>
                  <% server_list.each do |server| %>
                    <option value="<%= server.id %>"><%= server.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <label for="InputGenomics" class="col-md-3 control-label" >Genomics
            <a data-toggle="tooltip" data-placement="right" data-html="true" title="A gene name with relative 
            genomic data (FASTA) is required. You can either provide a gene name (the genomic data will
             be downloaded from Ensembl) or a FASTA file properly annotated via either URL link or direct upload."><i class="fa fa-question-circle"></i></a>
            </label>
            <div class="col-md-3">
              <label class="radio">
                <input type="radio" name="type" value="1" checked="true" />
                  Gene name
                  
              </label>
            </div>
            <div class="col-md-3">
              <label class="radio">
                <input type="radio" name="type" value="2" />
                  FASTA URL
              </label>
            </div>
            <div class="col-md-3">
              <label class="radio">
                <input type="radio" name="type" value="3" />
                  FASTA file
              </label>
            </div>
          </div>

          

          <div class="form-group" id='rowInputGeneName'>
            <label for="InputGeneName" class="col-md-3 control-label" >Gene name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="InputGeneName" 
               placeholder="eg: caramel" name="InputGeneName" >
            </div>
          </div>

          <div class="form-group hide" id='rowInputGeneURL'>
            <label for="InputGeneURL" class="col-md-3 control-label" >FASTA URL</label>
            <div class="col-md-9">
              <input type="url" class="form-control" id="InputGeneURL" 
               placeholder="eg: xlm://asd?" name="InputGeneURL" >
            </div>
          </div>

          <div class="form-group hide" id='rowInputGeneFile'>
            <label for="InputGeneFile" class="col-md-3 control-label">FASTA File</label>
            <div class="col-md-9">
              <input type="file" name="InputGeneFile" id="InputGeneFile"  />
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <hr />
            </div>
          </div>

          <div class="form-group">
            <label for="InputQuality" class="col-md-3 control-label" >Quality Threshold</label>
            <div class="col-md-9">
              <input type="text" value=""
                data-slider-min="33" data-slider-max="126" data-slider-step="1" data-slider-value="33"
                id="InputQuality" name="InputQuality" >
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Reads URL</label>
            <div class="col-md-7">
              <input type="text" class="form-control" name="InputURLs[]" />
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary addButtonURL"><i class="fa fa-plus"></i></button>
            </div>
          </div>

          <!-- The option field template containing an option field and a Remove button -->
          <div class="form-group hide" id="InputURLTemplate">
            <div class="col-md-offset-3 col-md-7">
              <input class="form-control" type="text" name="InputURLs[]" />
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary removeButtonURL"><i class="fa fa-minus"></i></button>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Reads File</label>
            <div class="col-md-7">
              <input type="file" name="InputFiles[]" />
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary addButtonFile"><i class="fa fa-plus"></i></button>
            </div>
          </div>

          <!-- The option field template containing an option field and a Remove button -->
          <div class="form-group hide" id="InputFileTemplate">
            <div class="col-md-offset-3 col-sm-7">
              <input type="file" name="InputFiles[]" />
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary removeButtonFile"><i class="fa fa-minus"></i></button>
            </div>
          </div>

          <div class="form-group">
            <label for="InputDescription" class="col-md-3 control-label" >Description</label>
            <div class="col-md-9">
              <textarea class="form-control" rows="3" id="InputDescription"  name="InputDescription" ></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
